In [2]:
Introduction to variable in python

In [ ]:
Variables are the place holders to hold certain value

In [ ]:
Rules for declarig the variables in python

Rule-1:
    
    
    No name space while declaring the Variable name

In [ ]:
Example_1

In [4]:
Firstname='vimal'
print(Firstname)

vimal

In [ ]:
we can use # to make it as statement

In [ ]:
Example_2

In [5]:
First_name='vimal'
print(First_name)

vimal

In [ ]:
Rule-2:
    
    Variable name should not start with a number

In [ ]:
Example

In [10]:
1name='naveen'
print(1name)

SyntaxError: invalid syntax (<ipython-input-10-e10e9f9ccaba>, line 1)

In [ ]:
insted of we can use it as

In [13]:
name1="naveen"
print(name1)

naveen

In [ ]:
IMPORTANT INTERVIEW QUESTION

CAN YOU PLEASE EXPLAIN THERULES THAT NEEDS TO BE FOLLOWED WHILE DECLARING A VARIABLE IN PYTHON?

In [ ]:
Introduction to datatypes in python

In [ ]:
DATATYPES

In [ ]:
1.srting----str
2.list------list
3.tuple-----tuple
4.dictionaries--dict
5.numbers------(integers(int) and decimals(float))

In [15]:
Classificaton of the datatypes

1.Mutable Datatyoes

it means we can edit/alter the data once it has been declared.

2.Immutable Datatypes

not able to edit/alter its fixed data.

In [ ]:
Introduction to String Datatypes 

Definition:
    A string is nothing but a series of character declared in quotes 
    
Classification:
    A string is classified as an Immutable datatype

In [ ]:
How do you Define a String

we can define a string in three possible ways 

single quote---->''
double quote---->""
triple quote---->""""""

In [ ]:
Example for single quote

In [16]:
name='vimal'
print(name)

vimal

In [ ]:
Example for double quote

In [19]:
name1="vimalkumar"
print(name1)

vimalkumar

In [ ]:
Example for triple quote

In [20]:
name2="""vimalravi"""
print(name2)

vimalravi

In [ ]:
introduction to string methods

#to validate and verify the datatypes  use type()

In [ ]:
Example

In [21]:
type(name)

str

In [22]:
type(name1)

str

In [23]:
type(name2)

str

In [26]:
type(First_name)

str

In [ ]:

end of sesson